.quick-action {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100vw - 70px);
    height: 70px;
    background-color: lightcoral;
  }
}
